.item-header .title {
  overflow: hidden;
}

.item-header .title a {
  word-break: break-word;
}

.item-header .title a:visited {
  color: #828282;
}

.item-header .comhead {
  font-size: 8pt;
}

.item-header .comhead a:link {
  color: #828282;
}

.item-footer {
  font-size: 8pt;
}

.item-header .comhead a:hover {
  text-decoration: underline;
}

.item-footer .subtext a {
  color: #828282;
}

.item-footer .subtext a:hover {
  text-decoration: underline;
}

.spacer {
  height: 5px;
}

.more-space {
  height: 10px;
}

.more {
  cursor: pointer;
  color: black;
}
