.App {
  text-align: center;
  width: 85%;
  min-width: 796px;
  margin: auto;
  background-color: rgb(246, 246, 239);
}

/* Generally Styles */
.full-width {
  width: 100%;
}

.vertical-align-top {
  vertical-align: top;
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
