.App {
  text-align: center;
  width: 85%;
  min-width: 796px;
  margin: auto;
  background-color: rgb(246, 246, 239);
}

.login {
  font: 16px "PingFang SC" !important;
  color: #000000;
}

.login a {
  text-decoration: underline;
  color: #0000ee;
}

.login td .label {
  padding: 1px !important;
}

#lists {
  padding: 10px 7px 0;
}

#lists > table td {
  padding: 1px 8px 1px 1px;
}

.list-item a:visited {
  color: #828282;
}

#submit {
  padding: 10px 0px 0;
}

#submit > table td {
  padding: 2px 1px 1px 2px;
}

#submit a {
  color: #828282;
  text-decoration: underline;
}

#submit a:visited {
  color: #828282;
}
